.error {
    border: 2px solid red;
}

.error-text {
    color: red;
    font-size: 12px;
    margin-top: 4px;
}

.error-box {
    border: 1px;
    color: red;
    padding: 10px;
    margin-bottom: 15px;
}